/Practica2/dist/
/Practica3/build/
/Practica4/dist/
/Practica3 - copia/build/
/Practica3 - copia/nbproject/private/
/Practica3 - NOMODIFICADO/build/
/Practica3 - NOMODIFICADO/nbproject/private/
/ClientWeb_Practica3 - copia/build/
/ClientWeb_Practica3 - copia/nbproject/private/
/ClientWeb_Practica3 - NOMODIFICADO/build/
/ClientWeb_Practica3 - NOMODIFICADO/nbproject/private/
/Practica3/dist/
/ClientWeb_Practica3/dist/
/Practica4 - copia/build/
/Practica4 - copia/dist/
/Practica4 - copia/nbproject/private/
/Practica4 - NOMODIFICADO/build/
/Practica4 - NOMODIFICADO/dist/
/Practica4 - NOMODIFICADO/nbproject/private/