{% extends "layout.html" %}
{% block content %}
    {% for products in products %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + products.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ products.author.username}}</a>
              <small class="text-muted">{{ products.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ products.nameArt }}</a></h2>
            <h5><a class="article-title" href="#">Descripcion: {{ products.content }}</a></h5>
            <h6><i>Precio: {{ products.price }} €</i></h6>
            <h6><i> Unidades: {{ products.units }} </i></h6>
            {% if current_user.is_authenticated and products.author.username != current_user.username %}
              <button type="button" class="btn btn-outline-info" onclick="window.location.href='{{ url_for('buyproduct', id=products.id)}}'">Comprar</button>
            {% endif %}
            {% if current_user.is_authenticated and products.author.username == current_user.username %}
              <button type="button" class="btn btn-outline-danger" onclick="window.location.href='{{ url_for('deleteproduct', id=products.id)}}'" formmethod="post">Eliminar</button>
            {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}