{% extends "layout.html" %}
{% block content %}
    <h1>Productos Encontrados ~ {{nameProduct }} ~</h1>
    {% for products in products %}
        {% if products.nameArt == nameProduct %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + products.author.image_file) }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ products.author.username }}</a>
                  <small class="text-muted">{{ products.date_posted.strftime('%d-%m-%Y') }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ products.nameArt }}</a></h2>
                <h5><a class="article-title" href="#">Descripcion: {{ products.content }}</a></h5>
                <p class="article-content"> Units: {{ products.units }}</p>
                {% if products.author.username != current_user.username %}
                    <button class="btn btn-outline-info">Comprar</button>
                {% endif %}
              </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}