{% extends "layout.html" %}
{% block content %}
    <div class="content-seciton">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Buscar un Producto</legend>
                <div class="form-group">
                    {{ form.productName.label(class="form-control-label") }}

                    {% if form.productName.errors %}
                        {{ form.productName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.productName.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.productName(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
            </fieldset>
            <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Quieres ver todos los productos? <a class="ml-2" href="{{ url_for('home') }}">Volver</a>
        </small>
    </div>
{% endblock content %}